.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.button1{

  background-color: blueviolet;
  transition: background-color 0.5s;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: bolder;
  
  

}
.button1:hover{
  background-color: blue;
  cursor: pointer;
}